<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024MW Hotel Grouper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>2024MW Hotel Grouper</h1>
    <form action="{{ url_for('submit') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="30" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" maxlength="30" required>
        <label for="notes">Optional Notes:</label>
        <textarea id="notes" name="notes" maxlength="300"></textarea>

        <h2>Select Hotels:</h2>
        <div class="hotels">
            {% for hotel in hotels %}
                <div class="hotel-row">
                    <label><input type="checkbox" name="hotels" value="{{ hotel[0] }}"> {{ hotel[0] }}</label>
                </div>
            {% endfor %}
        </div>

        <h2>Select Dates:</h2>
        <div class="dates">
            {% for i in range(0, dates|length, 2) %}
                <div class="date-row">
                    <label class="date-label">
                        <input type="checkbox" name="dates" value="{{ dates[i][0] }}"> {{ dates[i][0] }}
                        <input type="text" name="date_notes[]" placeholder="Optional note for this day" maxlength="300">
                    </label>
                    {% if i+1 < dates|length %}
                    <label class="date-label">
                        <input type="checkbox" name="dates" value="{{ dates[i+1][0] }}"> {{ dates[i+1][0] }}
                        <input type="text" name="date_notes[]" placeholder="Optional note for this day" maxlength="300">
                    </label>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <button type="submit">Submit</button>
    </form>

    <h2>Hotel Popularity</h2>
    <div class="hotel-popularity">
        <table>
            <thead>
                <tr>
                    <th>Hotel</th>
                    <th>Number of Bookings</th>
                </tr>
            </thead>
            <tbody>
                {% for hotel, count in hotel_popularity.items() %}
                <tr>
                    <td>{{ hotel }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <img src="{{ url_for('static', filename='beeme.png') }}" alt="Logo" class="logo">
</body>
</html>
